
.about-container {
  margin-top: 50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
   }
  
  .about-container-1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Change justify-content to flex-start */
    align-items: center;
    gap: 30px;
    margin-top: 80px;
    padding: 20px;
  }
  
  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px double rgb(224, 160, 224);
    border-radius: 20px;
    max-width: 270px;
    padding: 20px;
    gap: 5px;
    box-shadow: 0 0 10px 5px rgba(224, 160, 224, 0.7); /* Add a glowing effect to the border */
}

  
  .skills-container h3 {
    width: 100%;
    border-bottom: 2px groove black;
    margin-bottom: 20px;
    padding-bottom: 10px; /* Add padding to create space between the border and skill items */
  }
  
  .s {
    margin-bottom: 10px; /* Add space between skill items */
    display: block; /* Make the elements block-level */
    padding: 5px;
    border: 2px solid gray;
    border-radius: 10px;
  }
  
  .about-1{
    padding: 70px;
    font-size: large;
  }

  .p1{
    font-family: cursive;
  }

  .portfolio{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 50px;
  }