.Navbar {
  background-color: transparent;
  color: #0b0b0b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-weight: bold;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.Navbar.scrolled {
  background-color: #ffffff; /* Change background color when scrolled */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.logo {
  font-weight: bold;
}

.menu {
  display: flex;
  align-items: center;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.menu li {
  margin: 0 10px;
}

.menu li a {
  color: #080808;
  text-decoration: none;
}

.menu .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu .dropdown:hover .dropdown-content {
  display: block;
}

.menu .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover{
  background-color: rgb(240, 195, 241);
}

.dropdown{
  cursor: pointer;
}

.toggle-btn {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.toggle-btn span {
  width: 25px;
  height: 3px;
  background-color: #101010;
  margin: 3px 0;
}

@media screen and (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .menu.open {
    display: flex;
    flex-direction: column; /* Display nav links in a column */
    background-color: #ffffff;
    align-items: flex-end; /* Center align items */
  }

  .menu.open ul {
    display: flex;
    padding: 10px;
    flex-direction: column; /* Display nav links in a column */
    align-items: center; /* Center align items */
  }

  .menu.open li {
    margin: 10px 0; /* Add margin between each list item */
  }

  .toggle-btn {
    display: flex;
  }
}

.cv-button{
  background: transparent;
  font-weight: bold;
  cursor: pointer;
  padding: 5px;

  border: rgb(189, 121, 121) 3px double;
  border-radius: 15px;
}